https://_hosturl_ {
    proxy / localhost:_static_site_port_ {
        websocket
        gzip
        transparent
        log /srv/site_deploy/log/static/http.log {
            # keep up to 2 50mb log files
            rotate_size 50
            rotate_keep 2
        }
    }
}

# grav container
https://_grav_sub_domain_._hosturl_ {
    proxy / localhost:_grav_port_ {
        websocket
        gzip
        transparent
        log /srv/site_deploy/log/grav/http.log {
            # keep up to 2 50mb log files
            rotate_size 50
            rotate_keep 2
        }
    }
}

# mailcow container
https://_fqdn_sub_domain_._hosturl_ {
    proxy / localhost:_mailcow_port_ {
        websocket
        gzip
        transparent
        log /srv/site_deploy/log/mailcow/http.log {
            # keep up to 2 50mb log files
            rotate_size 50
            rotate_keep 2
        }
    }
}

# discourse container
https://_discourse_sub_domain_._hosturl_ {
    proxy / localhost:_discourse_port_ {
        websocket
        gzip
        transparent
        log /srv/site_deploy/log/discourse/http.log {
            # keep up to 2 50mb log files
            rotate_size 50
            rotate_keep 2
        }
    }
}